phraseapp:
  access_token: <TOKEN>
  project_id: <PROJECT_ID>
  push:
    sources:
    - file: your_strings_files
      params:
        file_format: .strings
  pull:
    targets:
    - file: Resources/Core/Localizations/<locale_code>.lproj/Localizable.strings
      params:
        file_format: strings
        format_options: { convert_placeholder: true }
    - file: Resources/UI/Localizations/<locale_code>.lproj/AirMapUI.strings
      params:
        file_format: strings
        format_options: { convert_placeholder: true }
